<h2 mat-dialog-title>{{title}} ticket</h2>
<mat-dialog-content class="miContainer">
  <form [formGroup]="ticketForm">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Id</mat-label>
        <input matInput formControlName="id" name="id" type="text">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Descripcion</mat-label>
        <input matInput formControlName="descripcion" name="descripcion" type="text">
          @if(hasError('descripcion','minlength')){
          <span class="text-danger">Minimo 3 caracteres.</span>
          } 
      </mat-form-field>  

    </div>

    <div class="fecha">
      <mat-form-field >
        <mat-label>Fecha del ticket</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fechaTicket">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-raised-button (click)="cancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="ticketForm.invalid">Guardar</button>
</mat-dialog-actions>