.miContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

mat-dialog-actions{
    display: flex;
    justify-content: center; 
    align-items: center;
    
}

p {
    text-align: center;
}