.miContainer{
    border: 10px solid rgb(229, 255, 0);
    margin-top: 15px;
    margin-bottom: 15px;
}
.fila{
    display: flex;
    margin-top: 5px;
    padding: 10px;
    gap: 10px; 
}
.titulo{
    margin-top: 15px;
}