<app-nav-login/>
<router-outlet/>
<div class="myBodySession">

    <div class="miContainer">
        
        <form [formGroup]="userForm">

            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" name="username" type="text">
                    @if(hasError('username','minlength')){
                    <span class="text-danger">Minimo 3 caracteres.</span>
                    }
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Viejo password</mat-label>
                    <input matInput formControlName="oldPassword" name="oldPassword" type="password">
                    @if(hasError('oldPassword','minlength')){
                    <span class="text-danger">Minimo 3 caracteres.</span>
                    }
                    @if(messageError!=null){
                    <span class="text-danger">{{messageError}}</span>
                    }
                </mat-form-field>

            </div>

            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Nuevo password</mat-label>
                    <input matInput formControlName="newPassword" name="newPassword" type="password">
                    @if(hasError('newPassword','minlength')){
                    <span class="text-danger">Minimo 3 caracteres.</span>
                    }
                </mat-form-field>

            </div>

            <div class="buttom">
                <button mat-raised-button color="primary" (click)="onSave()"
                    [disabled]="userForm.invalid">Guardar</button>
            </div>

        </form>
    </div>
</div>