<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content class="miContainer">


    <form [formGroup]="conceptoForm">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre" name="nombre" type="text">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Porcentaje</mat-label>
                <input matInput formControlName="porcentaje" name="porcentaje" type="number">
            </mat-form-field>
        </div>
<!-- 
        <div class="slide">
            <mat-slide-toggle formControlName="activo">Activo?</mat-slide-toggle>
        </div> -->

    </form>
</mat-dialog-content>


<mat-dialog-actions>
    <button mat-raised-button (click)="cancel()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="onSave()" [disabled]="conceptoForm.invalid">Guardar</button>
</mat-dialog-actions>