.miContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

mat-dialog-actions{
    display: flex;
    justify-content: center; 
    align-items: center;
    
}
mat-form-field{
    width: max-content; 
    /* max-width: 500px; Opcional: para evitar que los inputs sean demasiado anchos en pantallas grandes */
}
span{
    margin-bottom: 5px;
    font-size: small;
}