<div class="miContainer">
    <div class="space-y-4">
        <h2 mat-dialog-title class="text-2xl font-bold text-primary">Información importante</h2>
        <mat-dialog-content>
            <p class="text-muted-foreground font-bold">ya existe una factura pagada para la actual fecha de vencimiento del servicio. Por favor intentelo cuando se actualize la fecha de vencimiento del servicio.</p>
        </mat-dialog-content>
    </div>
</div>

<mat-dialog-actions>
    <button mat-raised-button (click)="cancel()">Aceptar</button>

</mat-dialog-actions>