.btnCerrarDia{   
    display: flex;
    justify-content: right;
    margin-top: 5px;
}

/* opciones responsive */
@media (max-width: 600px) {
    .contenedor-tabla{
      max-width:500px;
    }
  }

  @media (max-width:500px) {
    .contenedor-tabla{
      max-width:400px;
    }
  }

  @media (max-width:400px) {
    .contenedor-tabla{
      max-width:400px;
    }
  }


.table-responsive {
  display: flexbox;
  flex-direction: column;
}

.table-responsive .mat-header-row,
.table-responsive .mat-row {
  display: flex;
  flex-wrap: wrap;
}

.table-responsive .mat-cell,
.table-responsive .mat-header-cell {
  flex: 1 1 auto;
  min-width: 100px;
}