@if (isLoading) {
    <app-spinner></app-spinner>
    }
<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content class="miContainer">

    <form [formGroup]="prestamoForm">
        <div class="myForm">
            <mat-form-field appearance="fill">
                <mat-label>Titulo</mat-label>
                <input matInput formControlName="titulo" name="titulo" type="text">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Fecha de creación</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fechaCreacion">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Cuenta origen</mat-label>
                <mat-select formControlName="cOrigen">
                    @for (sobre of listSobre; track $index) {
                    <mat-option [value]="sobre.id">{{ sobre.descripcion }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Saldo en cuenta origen</mat-label>
                <input matInput formControlName="saldoDisponibleOrigen" name="saldoDisponibleOrigen" type="number">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Monto a prestar</mat-label>
                <input matInput formControlName="montoAPrestar" name="montoAPrestar" type="number" max={{maxMontoPrestar}}>
                <!-- @if(messageError!=null){
                    <span class="text-danger">{{messageError}}</span>
                         } -->
            </mat-form-field>

            <mat-form-field>
                <mat-label>Cuenta beneficiaria</mat-label>
                <mat-select formControlName="cBenefi">
                    @for (sobre of listSobre; track $index) {
                    <mat-option [value]="sobre.id">{{ sobre.descripcion }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Coutas</mat-label>
                <mat-select formControlName="coutas">
                    @for (coutas of listCoutasPay; track $index) {
                    <mat-option [value]="coutas.id">{{ coutas.descripcion}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>


            <mat-form-field appearance="fill">
                <mat-label>Interes</mat-label>
                <input matInput formControlName="interes" name="interes" type="text">
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label > Pago por mes </mat-label>
                <input class="TotAPagar" matInput formControlName="pagoPorMes" name="pagoPorMes" type="number">
            </mat-form-field>
                    
            <mat-form-field appearance="fill">
                <mat-label >Total a pagar</mat-label>
                <input class="TotAPagar" matInput formControlName="totAPagar" name="totAPagar" type="number">
            </mat-form-field>

        </div>
    </form>
</mat-dialog-content>


<mat-dialog-actions>
    <button mat-raised-button (click)="cancel()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="onSave()" [disabled]="prestamoForm.invalid">Guardar</button>
</mat-dialog-actions>