.filtros {
  float: right;
}

.demo-app {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.demo-app-sidebar {
  width: 300px;
  line-height: 1.5;
  background: #eaf9ff;
  border-right: 1px solid #d3e2e8;
}

.demo-app-sidebar-section {
  padding: 2em;
}

.demo-app-main {
  flex-grow: 1;
  padding: 3em;
}

header {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pctje {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nota {
  text-align: center;
}

.pctje> .msj {
  font-size: 15px;
}

.custom-green-button {
  background-color: green;
  color: white; 
}

/* opciones responsive */
@media (max-width: 600px) {
  .contenedor-tabla{
    max-width:500px;
  }
}

@media (max-width:500px) {
  .contenedor-tabla{
    max-width:300px;
  }
}

@media (max-width:400px) {
  .contenedor-tabla{
    max-width:200px;
  }
}


.table-responsive {
display: flex;
flex-direction: column;
}

.table-responsive .mat-header-row,
.table-responsive .mat-row {
display: flex;
flex-wrap: wrap;
}

.table-responsive .mat-cell,
.table-responsive .mat-header-cell {
flex: 1 1 auto;
min-width: 100px;
}