<h2 mat-dialog-title>{{title}} venta</h2>
<mat-dialog-content class="miContainer">
  <form [formGroup]="ventaForm">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Id</mat-label>
        <input matInput formControlName="id" name="id" type="text">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Descripcion</mat-label>
        <input matInput formControlName="descripcion" name="descripcion" type="text">
        @if(hasError('descripcion','minlength')){
        <span class="text-danger">Minimo 3 caracteres.</span>
        }
      </mat-form-field>

    </div>

    <div class="fecha">
      <mat-form-field>
        <mat-label>Fecha de la venta</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fechaVenta">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="slide">
      <mat-slide-toggle formControlName="ventaIndividual">Es venta individual</mat-slide-toggle>
    </div>
  </form>
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-raised-button (click)="cancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="ventaForm.invalid">Guardar</button>
</mat-dialog-actions>