.miContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

mat-dialog-actions{
    display: flex;
    justify-content: center; 
    align-items: center;
}
.btnNewTicket{
    margin-bottom:  10px;
    margin-top: 10px;
}
mat-form-field{
    width: auto;
}
